$flex: flex;
$justifyContentCenter: center;
$justifyContentTop: top;
$justifyContentBottom: bottom;
$spaceBetween: space-between;
$flex1: 1;
$center: center;
$alignItemsTop: align-top;
$alignItemsBottom: align-bottom;
