section {
 width: $w100vw;
 height: $h100vh;
 display: $flex;
 &.main-banner {
  background-color: $bgBlack;
 }
}
header {
 nav {
  display: $flex;
  align-items: $center;
  justify-content: $spaceBetween;
  padding-block-start: 50px;
  padding-block-end: 50px;
  a {
   color: $textWhite;
   font-size: $text;
   text-decoration: none;
  }
 }
 .links-container a {
  text-transform: uppercase;
  font-weight: 400;
  padding-inline-start: 20px;
 }
}
.header-wrapper {
 height: 100vh;
 display: flex;
 flex-direction: column;
}
.titles {
 flex: 1;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 .sec-title {
  font-size: $midBig;
 }
}
.social-container {
 flex: 1;
 display: flex;
 align-items: end;
 justify-content: space-between;
 box-sizing: border-box;
 padding-block-end: 30px;
 background-size: auto;
 background-position: bottom;
 background-repeat: no-repeat;
}
.sec-title {
 /* background: -webkit-linear-gradient(#ab415d, #863c46, #C55252, #D15F47); */
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 background-image: linear-gradient(45deg, #ab415d, #863c46, #c55252, #d15f47);
}
