section {
 width: $w100vw;
 height: $h100vh;
 display: $flex;
 &.main-banner {
  background-color: $bgBlack;
 }
}
header {
 nav {
  display: $flex;
  align-items: $center;
  justify-content: $spaceBetween;
  padding-block-start: 50px;
  padding-block-end: 50px;
  a {
   color: $textWhite;
   font-size: $text;
   text-decoration: none;
  }
 }
 .links-container a {
  text-transform: uppercase;
  font-weight: 400;
  padding-inline-start: 20px;
 }
}
